@import url('https://fonts.googleapis.com/css?family=Squada+One|VT323&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font-size: 10px;
}

#container{
	width:800px; 
	margin:0 auto;
	position: relative;	
}

h1{
  font-family: 'Squada One', cursive;
  color: #fff;
  font-size: 70px;

  padding-top: 65px;
  border-top-left-radius: 190px;
  border-top-right-radius: 190px;
 
  padding-bottom: 5px;
  margin-bottom: 20px;
  
	background: -webkit-radial-gradient(center, circle farthest-corner, rgba(2,2,2,0) 50%, rgba(0,0,0,1)), -webkit-radial-gradient(center, circle, rgba(2,2,2,.35), rgba(2,2,2,0) 20%, rgba(2,2,2,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #444, #333);
	background: -moz-radial-gradient(center, circle farthest-corner, rgba(2,2,2,0) 50%, rgba(0,0,0,1)), -webkit-radial-gradient(center, circle, rgba(2,2,2,.35), rgba(2,2,2,0) 20%, rgba(2,2,2,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #444, #333);
	background: -ms-radial-gradient(center, circle farthest-corner, rgba(2,2,2,0) 50%, rgba(0,0,0,1)), -webkit-radial-gradient(center, circle, rgba(2,2,2,.35), rgba(2,2,2,0) 20%, rgba(2,2,2,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #444, #333);
	background: -o-radial-gradient(center, circle farthest-corner, rgba(2,2,2,0) 50%, rgba(0,0,0,1)), -webkit-radial-gradient(center, circle, rgba(2,2,2,.35), rgba(2,2,2,0) 20%, rgba(2,2,2,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #444, #333);
	background: radial-gradient(center, circle farthest-corner, rgba(2,2,2,0) 50%, rgba(0,0,0,1)), -webkit-radial-gradient(center, circle, rgba(2,2,2,.35), rgba(2,2,2,0) 20%, rgba(2,2,2,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #444, #333);
	background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
	background-position: top center, 1px 1px, 0px 0px, top center;
  
}
h1 > span { 
  -webkit-transform: scaleX(1.4);
  -ms-transform: scaleX(1.4);
  transform: scaleX(1.4);
  display: inline-block;
}
h1:after{
  content: '\000AE';
  font-family: 'Courrier', monospace;
  font-size: 10px;
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  display: inline-block;
}

#board{ 
  background: #000;
  height: 660px;
  width: 660px;
  margin: 50px auto 0;
  border-radius: 50%;
}
#colors{ 
  position: relative;
  height: 600px;
  width: 600px;
  padding: 10px;
}
.color{
  height:300px;
  width: 300px;
  position: absolute;
  outline: none;
  border: none;
}
.color.top {  top: 20px;  }
.color.bottom{top: 340px; }
.color.left{  left: 20px; }
.color.right{ left: 340px;}

#color_green{
  background: #16821d;
  border-top-left-radius: 100%;
}
#color_green:hover, #color_green:active, #color_green.active{
  background: #6ae17b;
  box-shadow: 0px 0px 13px 0px #C8F9CE;
}

#color_red{
  background: #b80d05;
  border-top-right-radius: 100%;
}
#color_red:hover, #color_red:active, #color_red.active{
  background: #fd5030;
  box-shadow: 0px 0px 13px 0px #FF9480;
}

#color_yellow{
  background: #d3ca2d;
  border-bottom-left-radius: 100%;
}
#color_yellow:hover, #color_yellow:active, #color_yellow.active{
  background: #fffe54;
  box-shadow: 0px 0px 13px 0px #FFFEA2;
}

#color_blue{
  background: #067ad1;
  border-bottom-right-radius: 100%;
}
#color_blue:hover, #color_blue:active, #color_blue.active{
  background: #53d7fe;
  box-shadow: 0px 0px 13px 0px #B1EDFE;
}

#center_overlay{
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  top: 180px;
  left: 250px;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 20px solid #000;
}
#center_border{
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 180px;
  left: 250px;
  width: 300px;
  height: 300px;
  border: 20px solid #000;
}
#round{
  font-family: 'VT323', monospace;
  color: #dddd;
  font-size: 45px;
  float: left;
  margin-left: 60px;
  background: #222;
  padding: 2px 5px;
  width: 50px;
  border: 3px inset #444;
  height: 50px;
  line-height: 40px;
}

#button { 
  border-radius: 50%;
  background: #4ad757;
  border: 3px solid #b4ffaf;
  height: 35px;
  width: 35px;
  float: right;
  margin-right: 60px;
  margin-top: 8px;
  outline: none;
}


#button:active{
  background: #08B413;
  border-color: #4AD753;
}
#button:disabled{
  background: #004B05;
  border-color: #002F03;
}







